@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
#content{
    background-image: url('../../assets/cover1.jpg');
    background-size: cover;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:'Abril Fatface', Times, serif ;
}
input{
    font-family:'Raleway';
    font-weight:bold;
    color:black
}
.ng-touched.ng-invalid {
    border-color:red;
    border-width: 2px;
  }